.col1 {
    background-color: var(--brand-light);
}

.col2 {
    background-color: #6A59FF;
}

.col3 {
    background-color: #B259FF;
}

.col4 {
    background-color: #FF59F9;
}
 
.col5 {
    background-color: #FF598B;
}

.col6 {
    background-color: #FF5959;
}

.col7 {
    background-color: #FF8B59;
}

.col8 {
    background-color: #FFCD59;
}

.col9 {
    background-color: #E1FF59;
}

.col10 {
    background-color: #59FF91;
}

.col11 {
    background-color: #59FFF9;
}

.card {
    background-color: var(--shape-button);
    /* height: 6.5rem; */
border-radius: .5rem;
position: relative;
display: grid;
align-items: center;
border: 1px solid var(--input-stroke);

& img {
    border-radius: .25rem;
   margin: .25rem;
   width: 95%;
   object-fit: cover;
}

label {
    font: 400 var(--body-sm);
    color: var(--text-head);
display: block;
margin-inline: auto;
margin-block: .25rem .5rem;



}


& input {
    all: unset;
    appearance: none;
     position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;

}

&:hover, &:focus-within {
    background-color: var(--shape-hover);
}

&:has(:checked) {
    border: 2px solid var(--brand-light);
}

}